
*{
    margin: 0;
}

body{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}

aside{
    background: url(./imágenes/bg-main-desktop.png);
    width: 30vw;
    height: 100vh;
    background-size: cover;
}

form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
    top: 0;
    left: 25%;
}
.content .backgr{
    position: relative;
    top: 0px;
    left: 0px;
    width: 25%;
    height: 100%;
    background: url('./imágenes/bg-main-desktop.png');
}

.cvc{
    display: flex;
    flex-direction: row;
}
.datos {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 0;
}

aside .card{
    box-sizing: border-box;
    position: absolute;
    top: 20vh;
    left: 20vw;
    border: 5px solid black;
    width: 500px;
    height: 500px;
    background-color: aqua;
}

.cardfront{
    display: flex;
    background: url(./imágenes/bg-card-front.png) ;
    position: absolute;
    width: 400px;
    height: 200px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;

}
.cardback{
    position: absolute;
    top: 220px;
    left: 40px;
    width: 400px;
    height: 200px;
}
h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2px;
}

input{
    border-radius: 5px;
    border: 1px solid rgb(34, 8, 59);
    width: 300px;
    height: 30px;
}
.Shortbox{
    width: 70px;
}
.Midbox{
    width: 200px;
    margin-bottom: 10px;
}
.LongBox{
    width: 370px;
}
.SendButton{
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(34, 8, 59);
    color: white;
    border-radius: 3px;
    width: 300px;
    height: 70px;
}
